@media (min-width:501px)
{
	body
	{
	margin:0 0;
	font-family:sans-serif;
	font-size: 16px;
	background-image:url('bg.jpg');
	background-size: cover;
	background-attachment:fixed;
	background-repeat:no-repeat;
	background-position: center center;
	}
	.card
	{
		box-shadow: 0px 2px 5px 1px rgba(0,0,0,0.2);
		width:300px;
		background-color: white;
	border: 0px solid;
	border-radius: 5px;
	position: fixed;
	top:0;
	left:0;
	bottom:0;
	right:0;
	height:300px;
	margin:auto;
	padding: 30px 50px 50px 50px;
	}
}

@media (max-width:500px)
{
	body
	{
	margin:0 0;
	font-family:sans-serif;
	font-size: 16px;
	background-color: white;
	}
	.card
	{
		position: fixed;
		width:100%;
		background-color: white;
	border: 0px solid;
	border-radius: 5px;
	position: absolute;
	/* top:0;
	left:0;
	bottom:0;
	right:0; */
	height:auto;
	margin: auto;
	padding: 30px 50px 50px 50px;
	box-sizing: border-box;
	}
}

.center
{
	position:fixed;
	width:100%;
	height:100%;
	top:0;
	left:0;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
/* .card
{
	background-color: white;
	border: 0px solid;
	border-radius: 5px;
	position: absolute;
	top:0;
	left:0;
	bottom:0;
	right:0;
	height:300px;
	margin:auto;
	padding: 30px 50px 50px 50px;
	display: border-box;
} */
#logo
{
	display: block;
	margin: auto;
	height: 50px;
	margin-top: 
}
.headtext
{
	font-size: 25px;
	margin-bottom: 16px;
	font-weight: bold;
}

/*用户名输入框*/
#username
{
	display: block;
	width: 100%;
	padding: 10px;
	margin: 6px 0px 16px 0px;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 3px;
	font-size: 16px;
	outline: none;
	transition: 0.5s;
}
#username:hover
{
	border: 1px solid #4CAF50;
}
#username:focus
{
	border: 1px solid #4CAF50;
	box-shadow: 0 0 5px #4CAF50;
}
/*密码输入框*/
#password
{
	display: block;
	width: 100%;
	padding: 10px;
	margin: 16px 0px 16px 0px;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 3px;
	font-size: 16px;
	outline: none;
	transition: 0.5s;
}
#password:hover
{
	border: 1px solid #4CAF50;
}
#password:focus
{
	border: 1px solid #4CAF50;
	box-shadow: 0 0 5px #4CAF50;
}
/*登陆按钮*/
#sent-button
{
	display: block;
	cursor: pointer;
	border: 0px solid;
	border-radius: 3px;
	background-color: #4CAF50;
    color: white;
    padding: 6px 30px;
	margin-top: 12px;
	font-size: 16px;
	outline: none;
	transition: 0.2s;
	box-sizing: border-box;
	
}
#sent-button:hover
{
	background-color: #479e4b;
}