body
{
	margin:0 0;
	background-color: #f6f6f6;
	font-family:sans-serif;
	font-size: 16px;
	
	/*
	background-image:url('pic8.jpg');
	background-size: 100%;
	background-attachment:fixed;
	background-repeat:no-repeat;
	*/
}
/*图片预加载*/
#preload
{
	display: none;
	background-image: url(图片1.jpg),url(图片2.jpg),url(图片3.jpg),url(图片5.jpg),url(图片6.jpg),
	url(图片7.jpg),url(图片8.jpg),url(图片9.jpg),url(图片10.jpg),url(图片11.jpg),url(图片12.jpg),url(图片13.jpg),
	url(图片14.jpg),url(图片15.jpg),url(图片16.jpg)url(图片17.jpg),url(图片18.jpg),url(图片19.jpg),
	url(图片20.jpg),url(图片21.jpg),url(图片22.jpg),url(图片23.jpg),url(图片25.jpg),url(图片26.jpg);
}
/*头部图片*/
.headpic
{
	width: 100%;
	height: auto;
	display: block;
}

/*导航栏*/

ul.navbar
{
	z-index: 500;
	position: -webkit-sticky;
	position: sticky;
	top: 0px;
	list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ffffff;
    width: 100%;
	box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.2); 
}
/*导航栏中间*/
div.center
{
	margin: auto;
}
.center>li 
{
    float: left;
}
.center>li a
{
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
/*非当前项目鼠标悬浮*/
.center>li a:hover:not(.active) 
{
    /*background-color: #111;*/
	color: #4CAF50;
}
/*当前项目*/
.center .active 
{
    /*background-color: #4CAF50;*/
	color: #4CAF50;
	border-bottom: 3px solid #4CAF50;
	font-weight:bold;
}

/*导航栏2*/
.navbar2
{
	z-index: 500;
	display: block;
	width: 100%;
	height: auto;
	background-color: white;
	box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.2);
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	margin: 0;
	padding: 10px 10px;
	overflow: auto;
	box-sizing: border-box;
}
/*导航栏2菜单*/
#navbar-menu
{
	cursor: pointer;
}
/*侧边抽屉*/
.drawer
{
  position:fixed;
  width:260px;
  height:100%;
  top: 0px;
  bottom: 0px;
  left:-300px;
  background:white;
  z-index:1000;  
  box-shadow:5px 0px 10px rgba(0,0,0,.2);
  transition:all 0.3s;
  box-sizing:border-box;
}
/*导航栏2的遮罩*/
.mask{
  display:none;
  position:fixed;
  height:100%;
  width:100%;
  top: 0px;
  bottom: 0px;
  background:rgba(0,0,0,0.6);
  z-index:500;
}
/*导航栏2图片*/
#drawerpic
{
	width: 100%;
	bottom: 0px;
	margin: 0px;
	display: block;
}
/*导航栏2的项目列表*/
ul.drawernav
{
	top: 0px;
	list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ffffff;
    width: 100%; 
}
.drawernav>li 
{
    display: block;
}
.drawernav>li a 
{
    display: block;
    color: black;
    text-align: left;
    padding: 14px 16px;
    text-decoration: none;
}
/*非当前项目鼠标悬浮*/
.drawernav>li a:hover:not(.active) 
{
    background-color: #e0e0e0;
	color: #4CAF50;
}
/*当前项目*/
.drawernav .active 
{
    background-color: #eeeeee;
	color: #4CAF50;
	border-left: 3px solid #4CAF50;
	font-weight:bold;
}


/*悬浮按钮*/
.floating_button
{
	position: fixed;
	right: 20px;
	bottom: 20px;
	cursor: pointer;
}
#button1
{
	width: 40px;
	height: 40px;
	display: none;
	border: 0px solid;
	border-radius: 3px;
	box-shadow: 0px 1px 3px 1px rgba(0,0,0,0.2);
	margin-bottom: 10px;
	transition: 0.5s;
	background-color: white;
}
/* #button1:hover
{
	filter:brightness(80%);
	box-shadow: none;
} */
#button2
{
	width: 40px;
	height: 40px;
	display: block;
	border: 0px solid;
	border-radius: 3px;
	box-shadow: 0px 1px 3px 1px rgba(0,0,0,0.2);
	margin-top: 10px;
	transition: 0.5s;
	background-color: white;
}
/* #button2:hover
{
	filter:brightness(80%);
	box-shadow: none;
} */
/*悬浮按钮旁的提示框*/
#tooltiptext1
{
    visibility: hidden;
    width: 80px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 4px;
    right: 130%;
	opacity: 0;
	transition: opacity 0.5s;
}

#tooltiptext1::after 
{
    content: "";
    position: absolute;
    top: 50%;
    left: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent transparent black;
}
/* #tooltip1:hover #tooltiptext1 
{
    visibility: visible;
	opacity: 1;
} */
#tooltiptext2
{
    visibility: hidden;
    width: 80px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 4px;
    right: 130%;
	opacity: 0;
	transition: opacity 0.5s;
}

#tooltiptext2::after 
{
    content: "";
    position: absolute;
    top: 50%;
    left: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent transparent black;
}
/* #tooltip2:hover #tooltiptext2 
{
    visibility: visible;
	opacity: 1;
} */


/*响应式*/
@media (min-width: 1131px)
{
	.container
	{
		width: 60%;
	}
	.unit
	{
		padding: 20px 40px;
	}
	ul.navbar
	{
		display: block;
	}
	div.center
	{
		width: 60%;
	}
	.navbar2
	{
		display: none;
	}
}
@media (min-width: 851px) and (max-width: 1130px)
{
	.container
	{
		width: 80%;
	}
	.unit
	{
		padding: 20px 20px;
	}
	ul.navbar
	{
		display: block;
	}
	div.center
	{
		width: 80%;
	}
	.navbar2
	{
		display: none;
	}
}
@media (max-width: 850px)
{
	.container
	{
		width: 100%;
	}
	.unit
	{
		padding: 20px 20px;
	}
	ul.navbar
	{
		display: none;
	}
	.navbar2
	{
		display: block;
	}
}



/*容器*/
.container
{
	margin: auto;
}
/*列*/
.column
{
	width: 100%;
	margin: 0;
	float: left;
}
/*卡片*/
.unit
{
	background-color: white;
	width: 95%;
	height: auto;
	border: 0px solid;
	border-radius: 5px;
	box-shadow: 0px 2px 5px 1px rgba(0,0,0,0.2);
	margin: 20px auto;
	overflow: hidden;
	box-sizing: border-box;
}
/*图文卡片中的图片*/
.unit_pic
{
	display: block;
	border: 0px solid #bdbdbd;
	border-radius: 3px;
	width: 20%;
	cursor: pointer;
	cursor:zoom-in;
	float: left;
	margin-right: 10px;
	transition: 0.3s
}
.unit_pic:hover
{
	box-shadow: 0px 2px 5px 2px rgba(0,0,0,0.2);
}
.unit_pic1
{
	display: block;
	border: 0px solid #bdbdbd;
	border-radius: 3px;
	width: 30%;
	cursor: pointer;
	cursor:zoom-in;
	float: left;
	margin-right: 10px;
	transition: 0.3s
}
.unit_pic1:hover
{
	box-shadow: 0px 2px 5px 2px rgba(0,0,0,0.2);
}

/*卡片中的文字（正常）*/
.unit_text_normal
{
	display: block;
	text-align: justify;
	margin-bottom: 20px;
}

/*点击图片弹出*/
/*模态窗口的背景*/
.modal
{
    box-sizing: border-box;
	display: none; 
    position: fixed; 
    z-index: 500;  
    left: 0;
	right: 0;
    top: 0;
	bottom: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0,0,0,0.6); 
	align-items: center;
	-ms-flex-direction: column;
	flex-direction: column;
	justify-content: center;
	/* flex-shrink:0; */
}
/*模态窗口的图片*/
.modal-content 
{
	margin: 10px;
    display: block; 
	height: auto;
	max-width: 100%;
	max-height: 80%;
	box-sizing: border-box;
	cursor: zoom-out;
}

/*图片标题*/
#caption 
{
	margin: 0;
    display: block;
    width: 55%;
	max-width: 100%;
    text-align: center;
    color: white;
    padding: 10px 0;
	box-sizing: border-box;
}

/*添加动画*/
.modal-content, #caption 
{    
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom 
{
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
}

@keyframes zoom 
{
    from {transform: scale(0.1)} 
    to {transform: scale(1)}
}

/*点击按钮弹出编写框*/
/*模态窗口的背景*/
.modal3
{
    display: none;
    position: fixed;
	box-sizing: border-box;
    z-index: 501;
    left: 0;
    top: 0;
	right: 0;
	bottom: 0;
    width: 100vw;
    height: 100vh; 
    overflow: auto;
    background-color: rgba(0,0,0,0.6);
}

/*模态窗口的编写卡片*/

.modal-content3
{
    margin: auto;
	position: fixed;
	padding: 10px 50px 10px 50px;
	background-color: white;
	border:0px solid;
	border-radius: 5px;
    display: block;
	overflow: hidden;
	width: 400px;
	height: 490px;
	overflow: auto;
	font-size: 18px;
	text-align: justify;
	top:0;
	left:0;
	bottom:0;
	right:0;
}


@media only screen and (max-width: 539px)
{
	.modal-content3
	{
		width: auto;
		height: 100%;
		padding: 20px;
		border-radius: 0px;
		box-sizing: border-box;
	}
}
.headtext
{
	font-size: 25px;
	margin-bottom: 16px;
	font-weight: bold;
}
.belowtext
{
	font-size: 16px;
	margin: 0;
}
/*标题输入框*/
#title
{
	display: block;
	width: 100%;
	padding: 10px;
	margin: 6px 0px 16px 0px;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 3px;
	font-size: 16px;
	outline: none;
	transition: 0.5s;
}
#title:hover
{
	border: 1px solid #4CAF50;
}
#title:focus
{
	border: 1px solid #4CAF50;
	box-shadow: 0 0 5px #4CAF50;
}
/*textarea文章输入框*/
#article
{
	display: block;
	resize: none;
	font-family: sans-serif;
	width: 100%;
	height: 200px;
	padding: 10px;
	margin: 6px 0px 16px 0px;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 3px;
	font-size: 16px;
	outline: none;
	transition: 0.5s;
}
#article:hover
{
	border: 1px solid #4CAF50;
}
#article:focus
{
	border: 1px solid #4CAF50;
	box-shadow: 0 0 5px #4CAF50;
}
/*发布按钮*/
#sent-button
{
	display: block;
	cursor: pointer;
	border: 0px solid;
	border-radius: 3px;
	background-color: #4CAF50;
    color: white;
    padding: 6px 20px;
	margin-top: 12px;
	font-size: 16px;
	outline: none;
	transition: 0.5s;
	
}
#sent-button:hover
{
	background-color: #479e4b;
}
/*添加动画3*/
.modal-content3
{    
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom 
{
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
}

@keyframes zoom 
{
    from {transform: scale(0.1)} 
    to {transform: scale(1)}
}

/*关闭按钮3*/
.close3
{
    position: absolute;
	top: 22px;
	right: 12px;
    color: #6e6e6e;
    font-size: 35px;
	line-height: 0px;
	letter-spacing: 0px;
    /* font-weight: lighter; */
    transition: 0.4s;
}

.close3:hover, .close3:focus 
{
    color: black;
    text-decoration: none;
    cursor: pointer;
}